@import "../../App";

#login {
  .header {
    height: 10vh;
  }

  .bg {
    width: 100vw;
    height: 70vh;
    //background: url("../../assets/img/bg.jpg");
    background-size: 70rem;
  }

  #login-register {
    position: absolute;
    top: 45%;
    right: 0;
    transform: translate(-50%, -50%);
    width: 20vw;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .input-box {
      display: flex;
      margin: .5rem auto;
      height: 2.5rem;
      width: 80%;
      line-height: 2.5rem;
      border: $border;
      padding: 0 .5rem;

      .input {
        width: 100%;
        margin-left: .5rem;
        outline: none;
        white-space: nowrap;
        overflow: hidden;
        border: 0;
      }
    }

    .button {
      width: 85%;
      height: 2.5rem;
      margin: 1rem auto;
      text-align: center;
      line-height: 2.5rem;
      color: white;
      border-radius: 1rem;
      cursor: pointer;
    }

    .change {
      position: relative;
      left: 7rem;
      margin-bottom: .5rem;
      font-size: .6rem;
      cursor: pointer;
    }
  }
}